<body class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <!-- Primera tarjeta -->
          <div class="card rounded-4 shadow-lg">
            <div class="card-body text-center bg-dark text-light rounded-4">
              <div class="mb-4">
                <p>Software utilizado:</p>
                <ul class="list-unstyled text-left">
                  <li>NestJS</li>
                  <li>Angular</li>
                  <li>Docker</li>
                  <li>Visual Studio Code</li>
                </ul>
              </div>
            </div>
          </div>
          <br>
          <!-- Segunda tarjeta -->
          <div class="card rounded-4 shadow-lg">
            <div class="card-body text-center bg-dark text-light rounded-4">
              <div class="mb-4">
                <p>Equipo de desarrollo:</p>
                <ul class="list-unstyled text-left">
                  <li>Neo Armada</li>
                  <li>Chat GPT</li>
                  <li>Microsoft Copilot</li>
                  <li>MiduDev</li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- Fin col-md-4 -->
      </div> <!-- Fin row -->
    </div> <!-- Fin container -->
</body>
  
  