<div class="container py-5">
    <!--Impresion de cards de los Ratones-->
    <div class="container mt-5">
      <div class="row">
        @for(raton of ratones; track $index){
          <div class="col-md-4 mb-4">
            <div class="card h-100 bg-dark">
              <div class="card-body text-center bg-dark text-light rounded-4">
                <div class="mb-4">
                  <img src="assets/img/ratones/{{raton.codigo}}.jpg" class="img-fluid rounded-4" width="120px" height="120px">
                  <h3><a class="text-light">{{raton.nombre}}</a></h3>
                  <p>{{raton.descripcion}}</p>
                </div>  
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  
  </div>